*{
    background-color: #06101a;
    /* border: 1px solid red; */
}


.best{
    display: flex;
    border: 2px solid white;
    border-radius: 8px;
    box-shadow: 4px 6px 15px rgba(255, 255, 255, 0.8)
}
.pregarap{
    width: 608px;
    height: 93px;
    font-size: 18px;
    color: rgba(255, 255, 255, 1);
}

.fast{
    padding: 50px;
    width: 1100px;
    height: 293px;
    margin-top: 50px;
    margin-left: 80px;
    border-radius: 20px;
    /* border: 3px solid red; */
}
.janir{
    font-size: 18px;
    width: 180px;
    height: 56px;
    background-color: rgba(7, 244, 250, 1);
    border-radius: 28px;
}
.csss{
    text-align: center;
}
.jkl{
    
    align-items: center;
    width: 811px;
    height: 64px;
    border: 2px solid rgba(255, 255, 255, 1);
    /* border-radius: 6px red; */
}
div ul button{
    width: 111px;
    height: 44px;
    border-radius: 6px;
}
.name{
    width: 898px;
    height: 124px;
    color: rgba(255, 255, 255, 1);
    font-size: 56px;
}
.navbar{
    width: 554px;
    height: 508px;
    margin-top: 42px;
    margin-left: 11px;
}
.numbers{
    color: rgba(255, 255, 255, 1);
    width: 939px;
    height: 62px;
    margin-top: 41px;
    margin-left: 512px;
    font-size: 56px;
    margin: 0 auto;
    align-items: center;
}
.pro{
    width: 937px;
    height: 62px;
    color: rgba(255, 255, 255, 1);
    font-size: 18px;
    margin: 0 auto;
    align-items: center;
  
}
.viya{
    align-items: center;
    margin-top: 20px;
    
}

.sekent{
    border-radius: 10px;
    width: 200px;
    height: 90px;
    border: 4px solid rgba(255, 255, 255, 1);
    margin-left: 20px;
    margin-right: 10px;
    margin-bottom: 10px; 
    margin-top: 20px;
   
}
.hasan{
    width: 66.02px;
    height: 20.25px;
    margin-top: 40.73px;
    margin-left: 46.98px;
    color: rgba(255, 255, 255, 1);
    align-items: center;
    font-weight: 800;
    font-size: 32px;
}
.noby{
    display: flex;
    margin: 0 100px;
    text-align: center;
    justify-content: space-between;

}

.thard{
    color: rgba(255, 255, 255, 1);;
    display: flex;
    margin: 0 100px;
    justify-content: space-between;
    align-items: center;
}
.neee{
    background-color: aqua;
}
.youtube{
font-size: 56px;
}
.facebook{
font-size: 18px;
align-items: center;
}
.baba{
    margin-left: 40px;
}
.baba ul {
    display: flex;
    gap: 20px;
    margin: 0 60px;
}
.baba ul li a{
    /* border: 2px solid red; */
     text-decoration: none;
     color: rgba(255, 255, 255, 1);
     font-size: 18px;
}
.problem{
    width: 190px;
    height: 495px;
    /* margin-left: 100px; */
    margin-top: 20px;
    align-items: center;
}
.right{
    width: 490px;
    height: 495px;
    margin-top: 20px;
    align-items: center;
}

.like{
    border-radius: 10px;
    margin: 0 auto;
    width: 390px;
    height: 346px;
    border: 2px solid aqua;
}
.nuru li {
    
    background-color: aqua;
}
.nuru{
    padding: 10px;
    background-color: aqua;
}
.nnn{
    font-size: 28px;
    margin: 0 auto;
    color: rgba(255, 255, 255, 1);
}
.aaa{
    font-size: 16px;
    margin: 0 auto;
 color: rgba(255, 255, 255, 1);;
}
.habib{
    border: 3px solid  rgba(7, 244, 250, 1);
    width: 390px;
    height: 440px;
    border-top: 366px;
    border-left: 135px;
    border-radius: 10px;
    /* margin: 0 100px; */

}
.jjoha{
    gap: 10px;
    display: flex;
    align-items: center;
    margin: 0 auto;
}
.htmls{
    justify-content: space-between;
    margin: 0 auto;
}
.container{
    display: flex;
    margin-left: 100px;
    gap: 250px;
    margin-top: 20px;
}
.class{
   
    margin-top: -65px;
}


